---
import { Image } from 'astro:assets';
import Card from '../components/Card.astro';
import Icon from '../assets/watchcord.png'
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en" transition:animate="fade">
  <head>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--<link href="https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/watchcord rounded.ico">
    
    <meta name="description" content="A completely independent Discord client for Apple Watch">
    <meta name="keywords" content="watchcord, apple watch, discord on apple watch">
    <meta property="og:title" content="watchcord">
    <meta property="og:description" content="A completely independent Discord Client for Apple Watch">
    <meta property="og:image" content="/watchcord.png">
    <meta property="og:url" content="https://watchcord.dev">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="watchcord">
    <meta property="twitter:description" content="A completely independent Discord Client for Apple Watch">
    <meta property="twitter:image" content="/watchcord.png">
    <meta property="twitter:url" content="https://watchcord.dev">
    <script defer data-domain="watchcord.dev" src="https://plausible.circulars.dev/js/script.js"></script>
    <title>watchcord</title>
    <ViewTransitions />
	</head>
  <body class="flex flex-col bg-slate-950 overflow-y-scroll font-display">
    <div class="p-8 w-full lg:w-1/2 text-center self-center">

      <div class="flex flex-row justify-center gap-2 items-center my-4"> <!-- watchcord logo & name -->
        <Image src="/watchcord.png" alt="watchcord" class="rounded-2xl h-14 w-14" loading="eager" width=1024 height=1024 />
        <h1 class="text-violet-200 text-3xl">
          watchcord
        </h1>
      </div>

      <h1 class="text-violet-400 text-4xl md:text-5xl">
        A completely independent Discord client for Apple Watch
      </h1>
      
      <div class="my-8 self-center w-max flex flex-col sm:flex-row mx-auto h-min gap-2 items-center">
        <a href="/" aria-label="Available on the App Store">
          <!--<Image src="/app-store_vector.svg" alt="Download on the App Store" class="w-fit scale-100" loading="eager" width=256 height=256 />-->
          <object type="image/svg+xml" data="/app-store_vector.svg" class="pointer-events-none" height=56 aria-label="Available on the App Store svg"><title>Available on the app store svg</title></object>
        </a>
        <a href="https://discord.gg/9gc4ShgDAz" aria-label="Chat with us on Discord">
          <!--<Image src="/discord-plural_vector.svg" alt="Join the Discord" class="w-fit scale-100" loading="eager" width=256 height=256 />-->
          <object type="image/svg+xml" data="/discord-plural_vector.svg" class="pointer-events-none" height=56 aria-label="Chat with us on Discord svg"><title>Chat with us on Discord svg</title></object>
        </a>
      </div>

      <Image src="/watchcord main.png" alt="watchcord" class="my-8 mx-auto drop-shadow-[0_35px_35px_rgba(100,100,100,0.25)] sm:w-96 w-72" loading="eager" width=1024 height=1024 />
    </div>
    <div class="w-full lg:w-2/3 self-center gap-4 p-4 md:gap-8 md:p-8 grid grid-cols-1 md:grid-cols-2">
      <Card 
        title="View servers"
        body="Browse all your favourite servers, just like how they're sorted on desktop."
        image="/watchcord servers.png"
      />
      <Card
        title="Chat with your friends"
        body="You can use the full screen keyboard (series 7 and up), flicktype (requires the flicktype app), or swipe typing."
        image="/watchcord messages.png"
      />
    </div>
    <div class="text-violet-300 text-xl bg-slate-900 w-fit self-center p-4 rounded-lg">
      <a href="/screenshots">View More Screenshots</a>
    </div>
    <footer class="p-4 w-full text-center">
      <p class="text-slate-500 text-xs">Discord is a trademark of Discord Inc. Watchcord is not affiliated or endorsed by Discord.</p>
      <p class="text-slate-500 text-xs">This website was built with Astro and Tailwind, and is available on <a href="https://github.com/circularsprojects/watchcord-astro" class="text-slate-400">Github.</a></p>
      <p class="text-slate-500 text-xs"><a href="https://circulars.dev" class="text-slate-400">https://circulars.dev</a></p>
    </footer>
	</body>
</html>


