---
interface Props {
  title: string;
  body: string;
  image: string;
}

const { title, body, image } = Astro.props;

import { Image } from 'astro:assets';
---

<div class="flex p-4 w-full bg-slate-900 rounded-3xl flex-col justify-between shadow-white drop-shadow backdrop-blur-md">
  <Image src={image} alt={title} class="w-72 sm:w-96 drop-shadow-[0_15px_15px_rgba(100,100,100,0.25)] self-center" width=640 height=640 loading="eager" />
  <div class="text-center w-full">
    <h1 class="text-violet-300 text-4xl font-bold">{title}</h1>
    <p class="text-violet-100">{body}</p>
  </div>
</div>

